.footer{
  background: black;
  color: white;
  height: auto;
  width: 100%;
  text-align: center;
}
.footer p{
  margin: auto;
  padding:10px;
  font-size: 25px;
}

.header{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  width: 100%;
  background: black;
}
.header>h1{
  color: white;
  margin: auto;
}